<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      <renderer type="log4net.ObjectRenderer.JsonDotNetRenderer, log4net.Ext.Json.Net">
          <DateFormatHandling value="IsoDateFormat" />
          <NullValueHandling value="Ignore" />
          <Formatting value="Indented" />
      </renderer>
      <default />
      <remove value="ndc" />
      <remove value="message" />
      <member value="message:messageobject" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>